<div class="container">
  <!-- <h1 class="text-center">Todo List</h1>
  <div *ngFor="let item of todolist; let i = index;">
    <p>Id: {{ item.id }}</p>
    <p>Action: {{ item.action }}</p>
    <p *ngIf="item.completed === false">Needs to be completed!</p>
    <button
    (click)="toggleCompleted()"
    [ngClass]="item.completed ? 'btn btn-success' : 'btn btn-secondary'">
      {{item.completed ? 'Set Uncomplete' : 'Set Complete'}}</button>
  </div> -->

  <!-- <button (click)="">Add Todo</button> -->

</div>
<app-post></app-post>
